.skills{
    margin-bottom: 112px;
}
.skills-heading{
    color: var(--text-color-primary);
    margin-bottom: 30px;
}
.skills-progress{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 48px;
    width: 100%;
}
.skills-straight-progress{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
@media only screen and (max-width:740px){
    .skills-straight-progress{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width:1024px){
    .skills-progress{
        grid-template-columns: minmax(300px,1fr);
    }
}