.form-contact{
    display: flex;
    /* grid-template-columns: repeat(2,1fr); */
}
.form-contact__img{
    display: block;
    width: 50%;
    flex: 1;
    object-fit: cover;
}
.form-contact__form{
   padding: 48px;
   background-color: #f8f9fa ;
   flex: 1;
}
.form-contact__input{
    margin-bottom: 16px;
    width: 100%;
}
#name,#email,#subject,#message{
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid var(--text-color-paragraph);
}
#name::placeholder,
#email::placeholder,
#subject::placeholder,
#message::placeholder{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
#name:focus,
#email:focus,
#subject:focus,
#message:focus{
    border: 1px solid black;
}
#message{
    height: 200px;
    resize: none;
}
.form-contact__btn{
    background-color: var(--text-color-primary);
    border: none;
    padding: 16px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--text-color-white);
    border: 1px solid var(--text-color-primary);
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 200px;
}
.form-contact__btn:hover{
    color: var(--text-color-black);
}
@media only screen and (max-width:739px){
    .form-contact{
        flex-direction: column-reverse;
        /* grid-template-columns: repeat(2,1fr); */
    }
    .form-contact__img{
        width: 100%;
    }
}