.ourblog-card{
    max-width: 350px;
    margin: 0 auto;
}
.ourblog-card__image{
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 24px;
}
.ourblog-card__heading{
    font-weight: 500;
    margin-bottom: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.ourblog-card__heading:hover{
    color: var(--text-color-primary);
}
.ourblog-card__status{
    margin-bottom: 16px;
}
.ourblog-card__status span{
    /* display: inline-block; */
    margin-right: 10px;
    font-weight: 600;
    color: var(--text-color-primary);
}
.ourblog-card__desc{
    color: var(--text-color-paragraph);
}
@media only screen and (max-width:739px){
    .ourblog-card{
        max-width: 600px;
    }
}
