.card-service{
    padding: 32px;
    background-color: var(--text-color-white);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.card-service__image{
    width: 80px;
    margin-bottom: 30px;
}
.card-service__heading{
    margin-bottom: 48px;
}
.card-service__desc{
    margin-bottom: 16px;
}
.card-service:hover{
    background-color: var(--text-color-primary);
}