.contact-container{
    padding-top: 112px;
    margin: 0 30px;
}
.contact{
    max-width: 1110px;
    margin: 0 auto;

}
.contact-heading{
    font-size: 50px;
    margin-bottom: 24px;
    text-align: center;
}
.contact-desc{
    color: var(--text-color-paragraph);
    margin-bottom: 16px;
    padding-bottom: 48px;
    text-align: center;
}
.contact-cards{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
    margin-bottom: 48px;
}
@media only screen and (max-width:739px){
    .contact-cards{
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width:740px) and (max-width:990px){
    .contact-cards{
        grid-template-columns: repeat(2,1fr);
    }
}