@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --text-color-heading:#000000;
  --text-color-primary:#3e64ff;
  --text-color-paragraph:#999999;
  --text-color-banner:#a0f669;
  --text-color-white:#ffffff;
  --bg-hero:#edf0ff;
  --cursor-typewriter:#999999;
}
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
}
